﻿@model Blog.Models.Bloger

@{
    ViewBag.Title = "Delete";
}

<h2>Izbrisi</h2>

<h3>Dali ste sigurni deka sakate da go izbrisite korisnikot ?</h3>


    <div class="display-label">Ime:  @Html.DisplayFor(model => model.ime) </div>
   
    <div class="display-label">E-mail: @Html.DisplayFor(model => model.mail)</div>
    

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Izbrisi" /> |
        @Html.ActionLink("Vrati se nazad", "Index")
    </p>
}
