﻿@model Blog.Models.Zapis

@{
    ViewBag.Title = "Dodadi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodadi nov zapis</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <div>@Html.Label("Naslov: ")</div>
    <div>@Html.TextBoxFor(m => m.naslov)</div>
    <br />
    <div>@Html.Label("Tekst: ")</div>
    <div>@Html.TextAreaFor(m => m.tekst, new { cols = "94", rows="6"})</div>
    <br />
    <div><input type="submit" value="Zacuvaj" /></div>
   
}