﻿@model IEnumerable<Blog.Models.Bloger>

@{
    ViewBag.Title = "Index";
}

<h2>Brisenje na korisnik</h2>


<table>
    <tr>
        <th>
            Ime
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>

        <td>
            @Html.ActionLink("Izbrisi", "Delete", new { id=item.BlogerID })
        </td>
    </tr>
}

</table>
