﻿@model IEnumerable<Blog.Models.Zapis>

@{
    ViewBag.Title = "Izbrisi Zapis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izbrisi zapis</h2>
<table>
    <tr>
        <th>
            Naslov na zapis
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naslov)
        </td>

        <td>
            @Html.ActionLink("Izbrisi", "Izbrisi", new { id=item.zapisID })
        </td>
    </tr>
}

</table>
