﻿@model Blog.Models.Zapis

@{
    ViewBag.Title = "Izbrisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Dali ste sigurni deka sakate da go izbrisite zapisot so naslov ?</h3>

    <div class="display-field">
        @Html.DisplayFor(model => model.naslov)
    </div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Izbrisi" /> |
        @Html.ActionLink("Vrati se nazad", "IzbrisiZapis")
    </p>
}
