﻿@model Blog.Models.Bloger

@{
    
    Layout = null;
}

<body>
    <center>
        <div class="page">
            <div id="header">
                <img src="../../sliki/blog.jpg" />
                <h2>
                    Najava</h2>
                <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
                <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
                @using (Html.BeginForm())
                {
                    <br />
                    <div>@Html.Label("Korisnicko ime: ")</div>
                    <div>@Html.TextBoxFor(m => m.ime)</div>
                    
                    <br />
                    <div>@Html.Label("Lozinka: ")</div>
                    <div>@Html.PasswordFor(m => m.lozinka)</div>
                    <br />
                    <div>
                        <input type="submit" value="Najava" />
                    </div>
                    <br />
                    @Html.ActionLink("Registriraj", "Registracija");
                }
            </div>
            <div id="footer">
            </div>
        </div>
    </center>
</body>
