﻿@model IEnumerable<Blog.Models.Zapis>
@using Blog.Models;
@{
    ViewBag.Title = "Personalna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
<script>
    $(document).ready(function () {
        $("#accordion").accordion();
    });
</script>
</head>
<body style="font-size: 85%;">
    <div id="accordion">
        @if (Model != null)
        {

            foreach (Zapis item in Model)
            {
            <h3 style='max-width: 778px'>
                <a href="#">@Html.Label(item.naslov)</a></h3>
    
    
            <div style='max-width: 712px'>
                <p>
                    @Html.Label(item.tekst)
                </p>
            </div>
            
            }
        }
        else
        { 
            <h3>
                Objektot e prazen</h3>
        }

    </div>
     @Html.ActionLink("Dodadi nov zapis", "Dodadi") |
     @Html.ActionLink("Zapisi od site korisnici", "Site") |
    @Html.ActionLink("Izbrisi zapis", "IzbrisiZapis") |
            @if(ViewBag.id=="1") {
             @Html.ActionLink("Izbrisi korisnik", "Index")
            }
            
            
</body>
</html>
