﻿@model Blog.Models.Bloger

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Registracija</title>
</head>
<body>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <div>Registracija</div>
    <br />
    <div>@Html.Label("Vnesi korisnicko ime: ")</div>
    <div>@Html.TextBoxFor(m => m.ime)</div>
    <br />
                    <div>@Html.Label("E-mail: ")</div>
                    <div>@Html.TextBoxFor(m => m.mail)</div>
    <br />
    <div>@Html.Label("Lozinka: ")</div>
    <div>@Html.PasswordFor(m => m.lozinka)</div>
    
    <br />
    <div><input type="submit" value="Registriraj" /></div>
   
}

</body>
</html>
