﻿@model IEnumerable<Blog.Models.Zapis>
@{
    ViewBag.Title = "Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Zapisi od site korisnici:</h2>
<html>
<head>
<script>
    $(document).ready(function () {
        $("#accordion").accordion();
    });
</script>
</head>
<body style="font-size: 85%;">
    <div id="accordion">
        @foreach (var item in Model)
        {
            <h3 style='max-width: 778px'>
                <a href="#">@Html.Label(item.naslov) - @Html.Label(item.Bloger.ime)</a></h3>
    
    
            <div style='max-width: 712px'>
                <p>
                    @Html.Label(item.tekst)
                </p>
            </div>
        }
    </div>
</body>
</html>
